body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/*Section-1 background transition*/

.section-1{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, rgb(71, 0, 80), rgba(255, 181, 245, 0.781), rgb(165, 237, 255), rgb(0, 105, 119));
    background-size: 400% 400%;
    animation: move 10s ease-in infinite;
}
.section-1-title{
    position: absolute;
    color: aliceblue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: .3rem;
    border: .1rem solid aliceblue;
    padding: 2rem;
    z-index: 2
}

@keyframes move{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.scroll{
    position: fixed;
    top: 37rem;
    left: 70rem;
    z-index: 2;
    font-size: 2rem;
    text-transform: uppercase;
    color: aliceblue;
    border: .5rem solid aliceblue;
    padding: 0.5rem 2rem;
}
/*end section-1 background transition*/

/*section-2 background video*/
.section-2{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#video{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0
}


.section-2::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.3);
    top: 0;
    left: 0;
    z-index: 1;
}

/*end section-2 background video*/

/*section-3 svg*/
.section-3{
    width: 100%;
    height: 100vh;
    background: rgb(188, 116, 255) url("./img/water-2748657_1920.png");
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
}

.svg-background{
    position: absolute;
    bottom: 0;
}

.svg-background path{
    fill: #fff;
}

/*end section-3 svg*/
/*section-4 svg*/
.section-4{
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background: rgb(255, 208, 0);
}

.svg-background-2{
    position: absolute;
    bottom: 0;
}

.svg-background-2 path{
    fill: #000;
}

.svg-h1{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 300;
    letter-spacing: .2rem;
    text-transform: uppercase;
    position: absolute;
    top: 8rem;
    left: 4rem;
}

.svg-paragraph{
    position: absolute;
    color: #000;
    font-size: 1.4rem;
    text-align: center;
    width: 80rem;
    top: 20rem;
    left: 6rem;
    transform: skew(0deg, -7deg);
}

.section-sub-4{
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #000;
}

/*end section-4 svg*/

/*grid section*/
.grid-container{
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 1rem;
    background-color: rgba(146, 82, 82, .3)
}

.grid-item{
    color: #fff;
    font-size: 3rem;
    letter-spacing: .3rem;
    text-align: center;
    margin: 2rem 2rem;
}

.item-1{
    background-color: aqua;
    grid-row: 2/3;
    grid-column: 3/4;
}
.item-2{
    background-color: rgb(123, 138, 39);
    grid-column: 2/4;
}
.item-3{
    background-color: rgb(100, 44, 122);
}
.item-4{
    background-color: rgb(136, 80, 43);
}
.item-5{
    background-color: rgb(109, 34, 93);
    grid-row: 1/2;
}
.item-6{
    background-color: rgb(44, 185, 91);
}
/*end grid section*/

/* grid-2 section*/
.grid-container-2{
    width: 80rem;
    height: 100vh;
    background-color: bisque;
    margin: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: repeat( 4, 70px);
    grid-template-columns: repeat(4,  70px);
    justify-content: space-evenly;
    align-content: center;
}

.grid-container-2 div{
    background-color: dodgerblue;
    color: white;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    width: 50px;
    height: 50px;
}

/*end grid-2 section*/

/*grid section-3*/
.container-grid-1{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat( 5, 1fr 2fr);
    grid-template-rows: repeat(10, 50px);
}

.item-g{
    background-color: royalblue;
}

.item-g-1{
    grid-column: 3 / 5;
}

.item-g-2{
    grid-column: 5 / -1;
}

.item-g-5{
    grid-column: span 2;
    grid-row: span 2;
}

.item-g-8{
    grid-row: span 2;
}

.item-g-15{
    grid-column: 1/ -1;
}

.item-g-18{
    grid-column: span 4 /9;
}

.item-g-20{
    grid-row: 4 / span 3;
}

    
    /* With Item 1, start at col 3 and go until 5 */
    /* With Item 2, start at col 5 and go until the end */
    /* Make Item 5 double span 2 cols and rows */
    /* Make Item 8 two rows high */
    /* Make Item 15 span the entire grid width */
    /* Make item 18 span 4 widths, but end 9 */
    /* Make item 20 start at row 4 and go for 3 */